{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{ with .Content }}
      <div class="article-style" itemprop="articleBody">{{ . }}</div>
      {{ end }}

      {{ range .Data.Pages.GroupByParamDate "time_start" "2000" }}
      <div class="row" id="event_list">
        <div class="col-lg-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="col-lg-10">

          {{ range sort .Pages ".Params.time_start" "desc" }}
            {{ if eq $.Params.list_format 1 }}
              {{ partial "event_li_detailed" . }}
            {{ else if eq $.Params.list_format 2 }}
              {{ partial "event_li_stream" . }}
            {{ else }}
              {{ partial "event_li_simple" . }}
            {{ end }}
          {{ end }}

        </div>
      </div>
      {{ end }}

    </div>
  </div>

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
