{{ $ := .root }}
{{ $page := .page }}
{{ $events_len := len (where $.Site.RegularPages "Type" "event") }}

<!-- Events widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $events_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ ($.Site.GetPage "section" "event").RelPermalink }}">
        {{ i18n "more_events" | markdownify }}
        <i class="fas fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-12 col-lg-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ $.Scratch.Set "event" (where $.Site.RegularPages "Type" "talk") }}

    {{/* Exclude event shown in Selected event widget? */}}
    {{ if $page.Params.exclude_selected }}
    {{ $.Scratch.Set "event" (where ($.Scratch.Get "event") ".Params.selected" "!=" true) }}
    {{ end }}

    {{ range first $page.Params.count (sort ($.Scratch.Get "event") ".Params.time_start" "desc") }}
      {{ if eq $page.Params.list_format 1 }}
        {{ partial "event_li_detailed" . }}
      {{ else if eq $page.Params.list_format 2 }}
        {{ partial "event_li_stream" . }}
      {{ else }}
        {{ partial "event_li_simple" . }}
      {{ end }}
    {{ end }}
  </div>
</div>
